{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":4},"end":{"row":2,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/ini"}},"hash":"5c082e4a624ef494d11795f01afacaa9889754ca","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1538746641858}