{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "module": "departments",
        "action": "listDepartments",
        "arguments": $utils.toJson($context.arguments)
    }
}